/* Debug */

.debug .container {
    background-color: yellow;
    height: 100%;
}

.debug .row {
    height: 100%;
}

.debug [class*="col-"] {
    background-color: red;
    border: 1px solid black;
    height: 100%;
}

.debug #portfolio [class*="col-"] {
    height: 250px;
}

.debug #about [class*="col-"] {
    height: 250px;
}

.debug nav {
    height: 100px;
}

.debug ._jumbotron {
    height: 600px;
}

.debug #portfolio {
    background: lightgray;
}

.form {
    background-color: lightgreen;
    padding-top: 10px;
    margin-top: 10px;
}


/* /Debug */


/* Header */

nav {
    background-color: #2C3E50;
}

._jumbotron,
#about {
    background-color: #1ABC9C;
}


/* Footer */

footer {
    background-color: #2C3E50;
}